# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT="3001"
DATABASE_URL="postgresql://postgres:PASSWORD123@localhost:5432/pens_vlab"
COMPILER_URL="http://localhost:3000/api/v1/compile"
SECRET_TOKEN="09acc968a7344ca2616fcdaee57aed138172b749e662a24df845fd8736341c2d383d0163ffb69f7f7c5e94e38150df146587c693f5da9603d1af7c53c5ca751d"
REFRESH_TOKEN="969adb9f1eb5f0bbcdb64bc2949743f2625aa89176eb20a9f6f2f0b82b432bc7aace1bd4904afda904b4bca55e3a745b6c28e40dc8d8575fd743a6e891177f58"
ETHOL_SECRET_TOKEN="secret"